<section class="features-section d-block d-md-flex">
  <div class="feature-card-container col-12 col-md-7 px-0">
    <div class="d-block d-md-flex">
      <div>
        <ng-container *ngFor="let feature of features; let i = index">
          <div class="card feature-card" *ngIf="3 > i">
            <div class="card-body">
              <img class="" src="{{ feature.img }}" alt="feature image" />
              <div class="feature-title">{{ feature.title }}</div>
              <div class="feature-details">{{ feature.subTitle }}</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="align-self-center">
        <ng-container *ngFor="let feature of features; let i = index">
          <div class="card feature-card" *ngIf="i > 2">
            <div class="card-body">
              <img class="" src="{{ feature.img }}" alt="feature image" />
              <div class="feature-title">{{ feature.title }}</div>
              <div class="feature-details">{{ feature.subTitle }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 open-card px-0">
    <div class="feature-title">
      {{ "boostBusinesswithOpen" | translateAsync }}
    </div>
    <div class="title-underline"></div>
    <div class="loan-ad">
      {{ "customisedLoanAdd" | translateAsync }}
    </div>
    <button class="btn btn-outline-brand font-weight-bold">
      {{ "openAccountButtonText" | translateAsync }}
    </button>
  </div>
</section>
