body {
  overflow-x: hidden !important;
  div {
    // border: 2px solid black !important;
  }
}
.z-1 {
  z-index: 1;
}
.background-graphics {
  .left-circle {
    top: 10vw;
    left: -15vw;
    width: 571px;
    height: 572px;
    background: transparent url("/assets/blob-small.svg") 0% 0% no-repeat
      padding-box;
    opacity: 1;
    position: absolute;
    transform: scale(0.8);
  }
  .circle-2 {
    top: -15vh;
    left: 45%;
    right: 0;
    width: 55vw;
    height: 100vh;
    background: url(/assets/circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
  }
  .dots {
    top: 80vh;
    right: 0;
    width: 430px;
    height: 70px;
    background: transparent url("/assets/accounting_dots.svg") 0% 0% no-repeat
      padding-box;
    opacity: 0.5;
    position: absolute;
  }
  .dots-left {
    top: 70vh;
    left: 10vw;
    width: 430px;
    height: 70px;
    background: transparent url("/assets/accounting_dots.svg") 0% 0% no-repeat
      padding-box;
    opacity: 0.5;
    position: absolute;
  }
  .bottom-layer {
    bottom: 0;
    left: 0;
    top: 100vh;
    width: 100%;
    height: 100%;
    background: url("/assets/sol_wave_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
  }
}

.home-section {
  margin-top: 150px;
  padding: 0 5% 0 8%;
  z-index: 5;
  .home-img {
    width: 350px;
    margin-top: 30px;
    margin-left: -3%;
  }
  .home-title {
    font-size: 36px;
    width: 25vw;
  }
}
.title-underline {
  width: 15vw;
  height: 5px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
}

