<div class="d-flex">
  <div class="bg-white border-0 card shadow-sm eligibitity-card w-100">
    <div class="card-header border-0">
      {{ "eligibilityCardHeader" | translateAsync }}
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="font-size-sm mb-0">{{
            "monthlyIncomeLabel" | translateAsync
          }}</label>
          <div class="font-size-lg font-weight-bold">
            {{ incomeDetails.value | currency: "INR":"symbol":"2.0-0" }}
          </div>
          <input
            class="e-range"
            type="range"
            min="{{ incomeDetails.min }}"
            max="{{ incomeDetails.max }}"
            name="income"
            [(ngModel)]="incomeDetails.value"
          />
          <div class="range-slider-params">
            <div class="min">
              {{ incomeDetails.min | currency: "INR":"symbol":"2.0-0" }}
            </div>
            <div class="max">
              {{ incomeDetails.max | currency: "INR":"symbol":"2.0-0" }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="font-size-sm mb-0">{{
            "monthlyExpenseLabel" | translateAsync
          }}</label>
          <div class="font-size-lg font-weight-bold">
            {{ expenseDetails.value | currency: "INR":"symbol":"2.0-0" }}
          </div>
          <input
            class="e-range"
            type="range"
            min="{{ expenseDetails.min }}"
            max="{{ incomeDetails.value }}"
            name="expense"
            [(ngModel)]="expenseDetails.value"
          />
          <div class="range-slider-params">
            <div class="min">
              {{ expenseDetails.min | currency: "INR":"symbol":"2.0-0" }}
            </div>
            <div class="max">
              {{ incomeDetails.value | currency: "INR":"symbol":"2.0-0" }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1" class="font-size-sm mb-0">{{
            "repaymentTenureLabel" | translateAsync
          }}</label>
          <select class="form-control-custom" id="exampleFormControlSelect1">
            <option selected>6 {{ "monthsText" | translateAsync }}</option>
            <option>12 {{ "monthsText" | translateAsync }}</option>
            <option>24 {{ "monthsText" | translateAsync }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2" class="font-size-sm mb-0"
            >{{ "existingLoansLabel" | translateAsync }}
          </label>
          <div class="float-right">
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="existingEMI" class="font-size-sm mb-0">{{
            "emiexistingLoansLabel" | translateAsync
          }}</label>
          <input
            type="text"
            class="form-control-custom"
            id="existingEMI"
            name="existingEMI"
            value="{{ existingEMI.replace('₹', '').replace(comaRegexp, '') | currency: 'INR':'symbol':'1.0-0' }}"
            [(ngModel)]="existingEMI"
            placeholder="{{ '15000' | currency: 'INR':'symbol':'1.0-0' }}"
            digitOnly
          />
        </div>
      </form>
    </div>
  </div>
  <div class="align-self-center loan-details ml-1 w-50">
    <div class="card bg-brand">
      <div class="card-body text-light text-center px-1">
        <div class="loan-text mt-4 font-size-sm">
          {{ "loanAmountLabel" | translateAsync }}
        </div>
        <div class="font-size-lg font-weight-bold">
          {{ "100000" | currency: "INR":"symbol":"2.0-0" }}
        </div>
        <div class="font-size-sm loan-text mt-3">
          {{ "availableEMILabel" | translateAsync }}
        </div>
        <div class="font-size-lg font-weight-bold">
          {{ "15000" | currency: "INR":"symbol":"2.0-0" }}
        </div>
        <button
          class="btn btn-light font-size-sm font-weight-bold mb-4 mt-4 text-brand"
        >
          GET MONEY
        </button>
      </div>
    </div>
  </div>
</div>
